h1 {
  color: #5b6a75;
  font-size: 28px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 5px;
  margin-left: 0px;
  padding-left: 0px;
  padding-top: 5px;
  margin-bottom: 5px;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: #767f88;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  position: fixed;
  margin: 40px auto;
}

.weather-app {
  background: #f5dba9;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #d6d5d5;
}

.weather-app .form-control {
  margin: 0 auto;
  padding: 8px 15px;
  margin-right: 10px;
  border: none;
  border-radius: 8px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  margin-top: 0px;
  height: 90px;
  width: 90px;
}

strong {
  color: #5b6a75;
  font-size: 45px;
  font-weight: 400;
}

.high-low {
  color: #363636;
  font-size: 16px;
  margin-top: 0px;
  margin-left: 5px;
  padding-top: 0px;
  padding-left: 8px;
  padding-bottom: 5px;
}

.high-low span {
  color: #546c81;
}

.weather-temperature .units {
  position: relative;
  text-decoration: none;
  padding-left: 3px;
  top: -20px;
}

.weather-temperature .units a {
  font-size: 16px;
  text-decoration: none;
  color: #5b6a75;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: underline;
}

.weather-forecast {
  margin-top: 10px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  color: #46515a;
}

.weather-forecast img {
  margin-right: 5px;
  margin-top: 0px;
  height: 65px;
  width: 65px;
}

.weather-forecast span {
  font-size: 14px;
  margin-left: 0;
  padding-left: 0;
  color: #46515a;
}

.weather-forecast-temperature-max {
  color: #535353;
}
.weather-forecast-temperature-min {
  color: #535353;
  opacity: 0.5;
}

.submit-btn {
  background-color: #f39033;
  color: white;
  padding: 8px 15px;
  margin-right: 20px;
  border: none;
  border-radius: 8px;
}

.submit-btn:hover {
  background-color: #faa250;
  transition: all 200ms ease-in-out;
}

.current-location-btn {
  position: fixed;
  border-style: solid;
  background-color: white;
  color: #5b6a75;
  padding: 8px 15px;
  border: none;
  border-radius: 8px;
}

.current-location-btn:hover {
  border-style: 1 solid #8a8f8e;
  background-color: #fab574;
  color: white;
  transition: all 200ms ease-in-out;
}
